.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
*.vsix
LSP/node_modules/**
!LSP/node_modules/vscode-jsonrpc/**
!LSP/node_modules/vscode-languageclient/**
!LSP/node_modules/vscode-languageserver-protocol/**
!LSP/node_modules/vscode-languageserver-types/**
